{% extends "base_template.html" %}

{% block title %}Building List{% endblock %}

{% block content %}
  <h1>List of Buildings</h1>
  <div class="row">
    {% for building_data in building_data_list %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100" style="border-color: lightblue;">
        <div class="card-header bg-light text-dark" style="background-color: lightblue;">
          <h5 class="custom-card-link"><a href="/building/{{ loop.index0 }}">{{ building_data.title }}</a></h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{ building_data.description }}</p>
        </div>
      </div>
    </div>
    {% else %}
    <p>No buildings available.</p>
    {% endfor %}
  </div>
{% endblock %}
